<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Register a new user</title>
</head>
<body>
	<div th:insert="~{/partials/templateCommon :: nav}"></div>
	<main class="container">
	
	<h1>Please, provide some informations:</h1>
	
	<form th:action="@{/account/register}" th:object="${person}" method="post">
		<div th:insert="~{/account/registerCommon :: form}"></div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	
	</main>
	<div th:insert="~{/partials/templateCommon :: imports}"></div>
</body>
</html>