<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="form">
	<div class="form-group">
		<label for="firstName">First Name</label>
		<input type="text" class="form-control" placeholder="First name" th:field="*{firstName}" th:value="${person?.firstName}">
		<small class="form-text text-muted" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small>
	</div>

	<div class="form-group">
		<label for="lastName">Last Name</label>
		<input type="text" class="form-control" placeholder="Last name" th:field="*{lastName}" th:value="${person?.lastName}">
		<small class="form-text text-muted" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
	</div>

	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" class="form-control" placeholder="Email" th:field="*{email}" th:value="${person?.email}">
		<small class="form-text text-muted" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
	</div>

	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" placeholder="Password" th:field="*{password}" th:value="${person?.password}">
		<small class="form-text text-muted" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
	</div>

	<div class="form-group">
		<label for="phone">Phone</label>
		<input type="phone" class="form-control" placeholder="Phone" th:field="*{phone}" th:value="${person?.phone}">
		<small class="form-text text-muted" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
	</div>

	<fieldset>
		<legend>Address</legend>

		<div class="form-group">
			<label for="city">City</label>
			<input type="text" class="form-control" placeholder="City" th:field="*{address.city}" th:value="${person?.address?.city}">
			<small class="form-text text-muted" th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}"></small>
		</div>

		<div class="form-group">
			<label for="state">State</label>
			<input type="text" class="form-control" placeholder="State" th:field="*{address.state}" th:value="${person?.address?.state}">
			<small class="form-text text-muted" th:if="${#fields.hasErrors('address.state')}" th:errors="*{address.state}"></small>
		</div>

		<div class="form-group">
			<label for="country">Country</label>
			<input type="text" class="form-control" placeholder="Country" th:field="*{address.country}" th:value="${person?.address?.country}">
			<small class="form-text text-muted" th:if="${#fields.hasErrors('address.country')}" th:errors="*{address.country}"></small>
		</div>

		<div class="form-group">
			<label for="zipcode">Zipcode</label>
			<input type="text" class="form-control" placeholder="Zipcode" th:field="*{address.zipcode}" th:value="${person?.address?.zipcode}">
			<small class="form-text text-muted" th:if="${#fields.hasErrors('address.zipcode')}" th:errors="*{address.zipcode}"></small>
		</div>
	</fieldset>
</div>

</html>