<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Edit Stadium</title>
</head>
<body>
	<div th:insert="~{/partials/templateCommon :: nav}"></div>
	<main class="container">
	<h1>Edit Stadium</h1>
	<form th:action="@{/stadiums/edit/__${stadium.stadiumKey}__}" th:object="${stadium}" method="post">
		<div th:insert="~{/stadium/stadiumCommon :: form}"></div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<div class="row">
		<div class="col-md-12">
			<form th:action="@{/stadiums/delete/__${stadium.stadiumKey}__}" method="post">
				<button type="submit" class="btn btn-danger">Delete</button>
			</form>
		</div>
	</div>
	</main>
	<div th:insert="~{/partials/templateCommon :: imports}"></div>
</body>
</html>