<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Add Match</title>
</head>
<body>
	<div th:insert="~{/partials/templateCommon :: nav}"></div>
	<main class="container">
	<h1>Add Match</h1>
	<form th:action="@{/matches/add}" th:object="${match}" method="post">
		<div th:insert="~{/match/matchCommon :: form}"></div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	</main>
	<div th:insert="~{/partials/templateCommon :: imports}"></div>
</body>
</html>