<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Update product</title>
</head>
<body>
	<div th:insert="~{/partials/templateCommon :: nav}"></div>
	<main class="container">
	
	<h1>Update product:</h1>
	
	<form th:action="@{/products/edit/__${product.id}__}" th:object="${product}" method="post">
		<div th:insert="~{/product/productCommon :: form}"></div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	
	</main>
	<div th:insert="~{/partials/templateCommon :: imports}"></div>
</body>
</html>