<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Create new person</title>
</head>
<body>
	<div th:insert="~{/partials/templateCommon :: nav}"></div>
	<main class="container">
	
	<h1>Person information:</h1>
	
	<form th:action="@{/people/add}" th:object="${person}" method="post">
		<div th:insert="~{/account/registerCommon :: form}"></div>
		
		<div class="form-check">
			<input type="checkbox" class="form-check-input" th:field="*{admin}" th:value="${person?.admin}">
			<label class="form-check-label" for="admin">Is admin?</label>
		</div>
		<div class="form-check">
			<input type="checkbox" class="form-check-input" th:field="*{enable}" th:value="${person?.enable}">
			<label class="form-check-label" for="enable">Is enabled?</label>
		</div>
		
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	
	</main>
	<div th:insert="~{/partials/templateCommon :: imports}"></div>
</body>
</html>