<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="imports">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	
	<style>
		.nav.navbar-nav {
			display: block !important;
		}	
		.nav.navbar-nav li {
			display: inline !important;
		}
	</style>
</div>

<nav class="navbar navbar-inverse" th:fragment="nav">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">WAA soccer app</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/teams">Teams</a></li>
			<li><a href="/stadiums">Stadiums</a></li>
			<li><a href="/matches">Matches</a></li>
		</ul>
	</div>
</nav>
</html>